<div id="wrapper">
  <nav class="navbar navbar-static-top e-nav__top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/']" class="navbar-brand e-nav__header">Feature Toggle</a>
    </div>

    <div class="e-nav__dropdown">
      <select class="form-control e-form-control e-form-control__small" [(ngModel)]="environment" (change)="setDefaultEnvironment()">
        <option *ngFor="let item of environments" value="{{ item }}">{{ item }}</option>
      </select>
    </div>
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav e-nav__side" id="side-menu">
          <li>
            <a [routerLink]="['/project']">
              <i class="fa fa-university fa-fw e-l__mr-10"></i> Projects</a>
          </li>
          <li>
            <a [routerLink]="['/environment']">
              <i class="fa fa-globe fa-fw e-l__mr-10"></i>Environments</a>
          </li>
          <li>
            <a [routerLink]="['/featuregroup']">
              <i class="fa fa-chain fa-fw e-l__mr-10"></i> Feature Groups</a>
          </li>
          <li>
            <a [routerLink]="['/feature']">
              <i class="fa fa-beer fa-fw e-l__mr-10"></i> Features</a>
          </li>
          <li>
            <a [routerLink]="['/consumergroups']">
              <i class="fa fa-group fa-fw e-l__mr-10"></i> Consumer Groups</a>
          </li>
          <li>
            <a [routerLink]="['/audit']">
              <i class="fa fa-pencil fa-fw e-l__mr-10"></i> Audits</a>
          </li>
          <!-- <li>
            <a href="#" (click)="logOut()">
              <i class="fa fa-sign-out fa-fw e-l__mr-10"></i> Logout</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <div class="row e-footer">
    <img class="footer-image" src="/assets/images/emi-logo-small.png" alt="Euromonitor International" />
  </div>

</div>